*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(248, 248, 248);
    overflow-x: hidden;
}


.center{
    max-width: 200px;
    width: 100%;
}


.searchForm{
    display: flex;
    flex-direction: column;
  
    height: 500px;
    padding: 40px;
    background: #fff;
    border-radius: .2rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
}


#verify{
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 4rem;
   
}





.urlInput p {
	position: relative;
}
input {
    font-size: 17px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(158, 155, 155);
   
  }
  
  input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #254685;
  }
  
  label {
    color: rgb(158, 155, 155);
    font-size: 17px;
    
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  input:focus ~ label,
  input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #254685;
    

  }




.directions{
    color: rgb(158, 155, 155);
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-left: 0.3rem;
    margin-top: 5px;
    margin-bottom: 25px;
    

}


button{
    width: 100px;
    text-align: center;
    padding: 8px;
    float: right;
    
    font-size: 17px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    border-radius: .2rem;
    border: none;
    cursor: pointer;
    background: #254685;
    color: #FFF;
	margin-bottom: 20px;
}

button:hover{
    background: #4574ca;
    transition: 0.2s ease;
}


@media only screen and (max-width: 1024px) {
   
    .searchForm{
        height: 700px;
        width: 90%;
    }
    
  }
  
